# =========================
# Build artifacts
# =========================
build/
out/
bin/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
Testing/
CTestTestfile.cmake
*.o
*.obj

# =========================
# macOS
# =========================
.DS_Store
*.dSYM/

# =========================
# Logs / temp
# =========================
*.log
*.tmp

# =========================
# VS Code
# =========================
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

# =========================
# Misc
# =========================
*.swp
*.swo
*~

.cache/

.cache/
